run-mode: gui

renders
{
center: 0 0.707
size: 0.1 0.1
output-size: 400 400
fix-aspect: none
}

mode: ifs density int
{
coefficients: [-1,1]
resolution: (400,400)
degree: 19
center: (0,0.707)
width: 0.1
colouring:
{
gradient: ([(#FF0000,0),(#FFFF00,0.3),(#00FF00,0.6),(#00FFFF,0.8),(#0000FF,1)])
density: 0.6
}
}
